---
title: Oops! I'm lost
permalink: /404.html
eleventyExcludeFromCollections: true
layout: layouts/default.njk
---

<body class="animateGlitch">
  <h1 class="oops">{{ title }}</h1>
  <p class="go-home">
    I suggest you
    <a href="{{ " /" | url }}">going home</a>, it's 404 and it's getting dark!</p>
</body>
