---
layout: layouts/default.njk
tags:
  - nav
navtitle: Presentations
---
<div>
  <p>This is where you can find my
  <a href="https://presentations.harta.xyz" target="blank">Presentations</a>
    <br>
  All of them were made using the great <a href="https://github.com/tmcw/big">Big</a> framework by <a href="https://macwright.org/">Tom MacWright</a>
  </p>
</div>
