---
layout: layouts/default.njk
tags:
  - nav
navtitle: Projects
navorder: 4
---
<div class="text-center">
  <h1>Tools</h1>
</br>
</br>
<p>Simple page to draw shapes and copy paste them easily -
<a href="http://diskmanti.github.io/mapdraw" target="_blank">Mapdraw</a> need to find a icon of image for this
</p>
<p>Small app that generates a snippet for the map class in <a href="https://leafletjs.com" target="_blanks">Leaflet</a> -
<a href="http://diskmanti.github.io/extentfinder" target="_blank">Extentfinder</a>
</p>
</div>
