---
layout: layouts/default.njk
tags:
  - nav
navtitle: Projects
navorder: 4
---
<div class="text-center">
  <h1>Projects</h1>
</br>
</br>

<div class="parent">
<img src="https://image.flaticon.com/icons/svg/992/992211.svg"class="part1 proj-icon">
<div class="part2">
  <a href="http://diskmanti.github.io/mapdraw" target="_blank" name="MapDraw">
    <h2>MapDraw</h2>
  </a>
  <a href="http://diskmanti.github.io/mapdraw" target="_blank">https://harta.xyz/mapdraw</a>
</div>
<div class="part3">
  <p>Simple page to draw shapes and copy paste them easily</p>
</div>
</div>

<br><br>

<div class="parent">
<img src="https://image.flaticon.com/icons/svg/992/992207.svg"class="part1 proj-icon">
<div class="part2">
  <a href="http://diskmanti.github.io/extentfinder" target="_blank" name="MapExtent">
    <h2>MapExtent</h2>
  </a>
  <a href="http://diskmanti.github.io/extentfinder" target="_blank">harta.xyz/extentfinder</a>
</div>
<div class="part3">
  <p>Small app that generates a snippet for the map class in
<a href="https://leafletjs.com" target="_blanks">Leaflet</a>
  </p>
</div>
</div>
</div>
