<div id="footer">
  <hr/>
  <div class="pull-left">
    &copy;{{ buildTime | date("Y") }}.
    Built with &#10084; using <a href="https://www.11ty.io">11ty</a> and theme adapted from
    <a href="https://github.com/kirqe/autm-rb">Autm-rb</a>
  </div>

  {# <div class="pull-right">
    <span class="credits pull-right social">
      {% for sl in site.data.personal.social %}
        {% unless sl[1] == '' %}
          <a href="{{sl[1]}}" target="_blank">
            <i class="fa fa-{{sl[0]}}"></i>
          </a>
        {% endunless %}
      {% endfor %}
    </span>
  </div> #}
</div>
