<div id="header">
  <h1>
    <a id="sitename" href="{{config.baseurl}}">{{config.title}}</a>

    <img src="http://vectips.com/wp-content/uploads/2016/08/Land-icon08.jpg" class="logo">
  </h1>

  <p>{{ config.header }}</p>
  <hr/>

  {%- for nav in collections.nav%}
    <span class="credits pull-left">
      <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a> |
    </span>
  {%- endfor -%}

  {# <span class="credits pull-right social">
    {% for sl in site.data.personal.social %}
      {% unless sl[1] == '' %}
        <a href="{{sl[1]}}" target="_blank">
          <i class="fa fa-{{sl[0]}}"></i>
        </a>
      {% endunless %}
    {% endfor %}
  </span> #}

</div>
